flows.json
[{"id":"394fa569.c5ac2a","type":"tab","label":"Telecom-Customer-Churn-Prediction","disabled":false,"info":""},{"id":"968a1fe1.cedf1","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e60aab","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#e60aab","edited":true},"page-titlebar-backgroundColor":{"value":"#e60aab","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#f746c7","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#e60aab","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6d0e1567.df564c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"618c85b2.0ac14c","type":"ui_group","z":"","name":"Telecom-Customer-Churn-Prediction","tab":"6d0e1567.df564c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea5c8f27.ca778","type":"debug","z":"394fa569.c5ac2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":480,"wires":[]},{"id":"ecd2a7cc.c04708","type":"function","z":"394fa569.c5ac2a","name":"pre-token","func":"global.set(\"r\",msg.payload.r)\nglobal.set(\"cid\",msg.payload.cid)\nglobal.set(\"sn\",msg.payload.sn)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"geo\",msg.payload.geo)\nglobal.set(\"gen\",msg.payload.gen)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"ten\",msg.payload.ten)\nglobal.set(\"bal\",msg.payload.bal)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"cr\",msg.payload.cr)\nglobal.set(\"ac\",msg.payload.ac)\nglobal.set(\"es\",msg.payload.es)\nvar apikey=\"BEgIF2R6kF5PRAKG8_jBnYDPv9vljZ4ZplNOm09knzxq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["3d043c77.d72b84"]]},{"id":"3d043c77.d72b84","type":"http request","z":"394fa569.c5ac2a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":360,"wires":[["d40e780b.dd0828","c2385056.a288e"]]},{"id":"d40e780b.dd0828","type":"debug","z":"394fa569.c5ac2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"c2385056.a288e","type":"function","z":"394fa569.c5ac2a","name":"Pre Prediction","func":"var r = global.get(\"r\")\nvar cid = global.get(\"cid\")\nvar sn = global.get(\"sn\")\nvar cs = global.get(\"cs\")\nvar geo = global.get(\"geo\")\nvar gen = global.get(\"gen\")\nvar age = global.get(\"age\")\nvar ten = global.get(\"ten\")\nvar bal= global.get(\"bal\")\nvar nop = global.get(\"nop\")\nvar cr = global.get(\"cr\")\nvar ac = global.get(\"ac\")\nvar es = global.get(\"es\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"RowNumber\",\"CustomerId\",\"Surname\",\"CreditScore\",\"Geography\",\"Gender\",\"Age\",\"Tenure\",\"Balance\",\"NumOfProducts\",\"HasCrCard\",\"IsActiveMember\",\"EstimatedSalary\"],\"values\": [[r,cid,sn,cs,geo,gen,age,ten,bal,nop,cr,ac,es]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":440,"wires":[["864f1f21.6c298"]]},{"id":"864f1f21.6c298","type":"http request","z":"394fa569.c5ac2a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/492b62c5-8625-4fcb-8bc9-b637b0bee058/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":400,"wires":[["f0698968.4d5e78","2ab592e8.c8d81e"]]},{"id":"f0698968.4d5e78","type":"debug","z":"394fa569.c5ac2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1530,"y":400,"wires":[]},{"id":"8a13ddf8.e0cd5","type":"inject","z":"394fa569.c5ac2a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":240,"wires":[["ecd2a7cc.c04708"]]},{"id":"d35fa552.783a08","type":"debug","z":"394fa569.c5ac2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":260,"wires":[]},{"id":"2ab592e8.c8d81e","type":"function","z":"394fa569.c5ac2a","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":260,"wires":[["d35fa552.783a08","35d66199.427f3e"]]},{"id":"8d612992.f537c8","type":"ui_form","z":"394fa569.c5ac2a","name":"","label":"","group":"618c85b2.0ac14c","order":1,"width":0,"height":0,"options":[{"label":"RowNumber","value":"r","type":"number","required":true,"rows":null},{"label":"CustomerID","value":"cid","type":"number","required":true,"rows":null},{"label":"Surname","value":"sn","type":"text","required":true,"rows":null},{"label":"CreditScore","value":"cs","type":"number","required":true,"rows":null},{"label":"Geography","value":"geo","type":"text","required":true,"rows":null},{"label":"Gender","value":"gen","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Tenure","value":"ten","type":"number","required":true,"rows":null},{"label":"Balance","value":"bal","type":"number","required":true,"rows":null},{"label":"NumOfProducts","value":"nop","type":"number","required":true,"rows":null},{"label":"HasCrCard","value":"cr","type":"number","required":true,"rows":null},{"label":"IsActiveMember","value":"ac","type":"number","required":true,"rows":null},{"label":"EstimatedSalary","value":"es","type":"number","required":true,"rows":null}],"formValue":{"r":"","cid":"","sn":"","cs":"","geo":"","gen":"","age":"","ten":"","bal":"","nop":"","cr":"","ac":"","es":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":460,"wires":[["ea5c8f27.ca778","ecd2a7cc.c04708"]],"icon":"font-awesome/fa-window-minimize"},{"id":"35d66199.427f3e","type":"ui_text","z":"394fa569.c5ac2a","group":"618c85b2.0ac14c","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-left","x":1340,"y":340,"wires":[]}]